<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Conditions de vente</h2>
            </div>
        </div>
    </div>
</div>
    <!-- Recent Update Section -->
    <div class="blank">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="titlecond">SECURITYKEYS</h3>

                    <p>
                    SecurityKeys est une société de services informatiques spécialisée dans la sécurité, l’audit, le conseil, l'assistance informatique et la formation.
                    <br>
                    Forte d’une expérience de 30 ans au sein de grands comptes, SecurityKeys intervient aujourd’hui dans différents secteurs publics et privés : ministères, chaînes hôtelières, maisons d’édition, professions juridiques, transports publics, banques &amp; assurances, industries...
                    <br>
                    Depuis sa création, SecurityKeys s’est engagée à offrir à ses clients des solutions fiables, performantes et pérennes. Notre sérieux et notre qualité de service nous ont permis d’acquérir la confiance de prestigieux clients. Nous prenons toujours en compte les contraintes liées à votre métier dans nos préconisations.
                    </p>
                    <div class="titlecond">EXPERTISE</div><br>
                    <p>Grâce au haut niveau d'expertise de notre équipe spécialisée en sécurité, systèmes et réseaux informatiques, nous étudions et mettons en œuvre les meilleures solutions à nos clients.</p>
                    <br><br>
                    <div class="titlecond">RÉACTIVITÉ</div><br>
                    <p>Nous sommes une société à taille humaine composée d’ingénieurs à fort potentiel garantissant une réactivité inégalée. Chaque demande est prise en charge avec sérieux et implication.</p>
                    <br><br>
                    <div class="titlecond">DISPONIBILTÉ</div><br>
                    <p>Un consultant dédié à vos projets informatiques travaille en collaboration avec vos équipes.</p>
                    <br><br>
                    <div class="titlecond">CONFIANCE</div><br>
                    <p>Depuis le premier jour, nous nous sommes profondément engagés à bâtir avec l’ensemble de nos clients et partenaires une relation solide et pérenne basée sur la confiance mutuelle.</p>
                    <br><br>
                    <div class="titlecond">TRANSPARENCE</div><br>
                    <p>Chez SecurityKeys, nous veillons toujours à créer des relations transparentes et durables avec nos clients et partenaires.</p>
                    <br><br>
                    <div class="titlecond">FLEXIBILITÉ</div><br>
                    <p>Notre flexibilité s’exprime aussi bien dans nos interventions au travers de nos consultants qui sont fondamentalement orientés clients, que dans nos offres commerciales qui se traduisent par un large choix de services adaptés aux besoins propres de chaque structure.</p>
                    <hr>
                    <center><h2 class="titlecond">CONDITIONS DE VENTE</h2></center>
                    <p>Les présentes sont conclues entre :</p>

<p>&nbsp;</p>

<p>- La société MSCIT- SecurityKeys société de droit français, élisant domicile 22 rue ALBERT CAMUS 92160 ANTONY, SIRET APE URSSAFF numéro, ci-dessous nommée MSCIT- SecurityKeys,</p>

<p>&nbsp;</p>

<p>- et entre toute personne physique ou morale, particulier ou professionnel, de droit privé ou de droit public souhaitant s’engager dans une ou plusieurs des prestations fournies par la société MSCIT- SecurityKeys, ci-après nommée le Client.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>ARTICLE 1 : OBJET.</h3>

<p>Le Client reconnaît avoir vérifié l'adéquation du Service à ses besoins et avoir reçu de MSCIT- SecurityKeys toutes les informations et conseils qui lui étaient nécessaires pour souscrire au présent engagement en connaissance de cause.</p>

<p>&nbsp;</p>

<p>Le présent contrat a pour objet de définir les conditions techniques et financières dans lesquelles MSCIT- SecurityKeys s'engage avec le Client.</p>

<p>Les présentes conditions générales de service complétées le cas échéant par des conditions particulières et/ou annexes proposées par MSCIT- SecurityKeys sont applicables, à l'exclusion de toutes autres conditions et notamment celles du Client, à toute commande par le Client de prestations de la société MSCIT- SecurityKeys.</p>

<p>&nbsp;</p>

<p>Les prestations offertes par MSCIT- SecurityKeys à titre gratuit sont également régies par les présentes conditions générales de service.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>ARTICLE 2 : OBLIGATIONS DE MSCIT- SecurityKeys</h3>

<p>MSCIT- SecurityKeys s'engage à apporter tout le soin et toute la diligence nécessaires à la fourniture d'un Service de qualité conformément aux usages de la profession et à l'état de l'art. MSCIT- SecurityKeys ne répond que d'une obligation de moyen.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>ARTICLE 3 : RESPONSABILITE DE MSCIT- SecurityKeys.</h3>

<p>La responsabilité de MSCIT- SecurityKeys éditeur du service SecurityKeys.fr ne sera pas engagée :</p>

<p>&nbsp;</p>

<p>Si l'exécution du contrat, ou de toute obligation incombant à MSCIT- SecurityKeys au titre des présentes, est empêchée, limitée ou dérangée du fait d'incendie, explosion, défaillance des réseaux de transmission, effondrement des installations, épidémie, tremblement de terre, inondation, panne d'électricité, guerre, embargo, loi, injonction, demande ou exigence de tout gouvernement, grève, boycott retrait d'autorisation de l'opérateur de télécommunication, ou autre circonstance hors du contrôle raisonnable de MSCIT ("Cas de Force Majeure"), alors MSCIT- SecurityKeys, sous réserve d'une prompte notification au Client, devra être dispensée de l'exécution de ses obligations dans la limite de cet empêchement, limitation ou dérangement, et le Client sera de la même manière dispensé de l'exécution de ses obligations dans la mesure où les obligations de cette partie sont relatives à l'exécution ainsi empêchée, limitée ou dérangée, sous réserve que la partie ainsi affectée fasse ses meilleurs efforts pour éviter ou pallier de telles causes d'inexécution et que les deux parties procèdent avec promptitude dès lors que de telles causes auront cessé ou été supprimées. La partie affectée par un Cas de Force Majeure devra tenir l'autre partie régulièrement informée par courrier électronique des pronostics de suppression ou de rétablissement de ce Cas de Force Majeure.</p>

<p>&nbsp;</p>

<p>Si les effets d'un Cas de Force Majeure devaient avoir une durée supérieure à 30 jours, à compter de la notification du cas de force majeure à l'autre partie, le contrat pourra être résilié de plein droit à la demande de l'une ou l'autre partie, sans droit à indemnité de part et d'autre.</p>

<p>&nbsp;</p>

<p>Soit encore du fait du Client, notamment dans les cas ci-après :</p>

<p>&nbsp;</p>

<p>détérioration de l'application, mauvaise utilisation des terminaux par le Client ou par sa Clientèle, faute, négligence, omission ou défaillance de sa part, non-respect des conseils donnés, divulgation ou utilisation illicite du mot de passe remis confidentiellement au Client, faute, négligence ou omission d'un tiers sur lequel MSCIT- SecurityKeys n'a aucun pouvoir de contrôle ou de surveillance, demande d'interruption temporaire ou définitive du Service émanant d'une autorité administrative ou judiciaire compétente, ou notification d'un tiers au sens de l'article 6 de la LCEN, destruction partielle ou totale des informations transmises ou stockées à la suite d'erreurs imputables directement ou indirectement au Client.</p>

<p>&nbsp;</p>

<p>Les réparations dues par MSCIT- SecurityKeys en cas de défaillance du Service qui résulterait d'une faute établie à son encontre correspondront au préjudice direct, personnel et certain lié à la défaillance en cause, à l'exclusion expresse de tout dommage indirect tel que, notamment, préjudice commercial, perte de commandes, atteinte à l'image de marque, trouble commercial quelconque, perte de bénéfices ou de Clients (par exemple, divulgation inopportune d'informations confidentielles les concernant par suite de défectuosité ou de piratage du système, action d'un tiers contre le Client, etc.).</p>

<p>En tout état de cause, le montant des dommages et intérêts qui pourraient être mis à la charge de MSCIT, si sa responsabilité était engagée, sera limité au montant des sommes effectivement versées par le Client à MSCIT- SecurityKeys pour la période considérée ou facturées au Client par MSCIT ou au montant des sommes correspondant au prix de la prestation, pour la part du Service pour laquelle la responsabilité de MSCIT a été retenue. Sera pris en considération le montant le plus faible de ces sommes.</p>

<p>&nbsp;</p>

<p>MSCIT n'effectue aucune sauvegarde spécifique des données hébergées. Il appartient en conséquence au Client de prendre toutes mesures nécessaires à la sauvegarde de ses données en cas de perte, ou de détérioration des données confiées, quelle qu'en soit la cause, y compris celle non expressément visée par les présentes.</p>

<p>&nbsp;</p>

<p>Le Client reconnaît qu'aucune stipulation des présentes ne le dégagera de l'obligation de payer tous les montants dus à MSCIT- SecurityKeys au titre des prestations réalisées.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>ARTICLE 4 : OBLIGATIONS ET RESPONSABILITÉ DU CLIENT</h3>

<p>Le Client s’engage à disposer du pouvoir, de l'autorité et de la capacité nécessaires à la conclusion et à l’exécution des obligations prévues aux présentes.</p>

<p>MSCIT- SecurityKeys recommande au Client de lire le contrat de déontologie à l’adresse suivante :</p>

<p>http://www.MSCIT.fr et de respecter ces règles pour toute communication sur Internet.</p>

<p>Le Client s'engage à communiquer, lors de la création de son compte client et à chaque modification de celles-ci, ses coordonnées et informations bancaires exactes et mises à jour à MSCIT- SecurityKeys.</p>

<p>Le Client est le responsable entier et exclusif des mots de passe nécessaires à l'utilisation de son Service.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys dégage toute responsabilité pour toute utilisation illicite ou frauduleuse des mots de passe mis à la disposition du Client. La fourniture des mots de passe est considérée comme confidentielle. Toute suspicion d'une divulgation, intentionnelle ou non, des mots de passe fournis, engage la responsabilité unique du Client à l'exclusion de celle MSCIT- SecurityKeys. En cas d’une demande de changement du mot de passe par le Client, MSCIT- SecurityKeys facturera ce service au temps passé sur cette opération.</p>

<p>&nbsp;</p>

<p>Le Client supportera seul les conséquences du défaut de fonctionnement du service consécutif à toute utilisation, par les membres de son personnel ou par toute personne auquel le Client aura fourni son (ou ses) mot(s) de passe. De même, le Client supporte seul les conséquences de la perte du ou des mots de passe précités.</p>

<p>&nbsp;</p>

<p>Le Client s'engage à respecter l'ensemble des prescriptions légales et réglementaires en vigueur, et en particulier celles relatives à l'informatique, aux fichiers, aux libertés et à la propriété intellectuelle, ainsi que les droits des tiers, et s'engage notamment à faire toute déclaration des traitements auprès de la Commission Nationale de l'Informatique et des Libertés (C.N.I.L.). Le Client s'engage par ailleurs à prendre toutes les assurances nécessaires auprès d'un organisme notoirement solvable afin de couvrir tous les dommages qui lui seraient imputables dans le cadre du présent contrat ou de son exécution.</p>

<p>Le Client déclare accepter pleinement toutes les obligations légales découlant de la propriété de ses services, MSCIT ne pouvant être recherché ni inquiété à cet égard pour quelque cause que ce soit, notamment en cas de violation de lois ou règlements applicables aux services du Client. Le non-respect par le Client des points visés ci-dessus et des points visés aux conditions particulières, et notamment toute activité susceptible d'engendrer une responsabilité civile et/ou pénale entraînera le droit pour MSCIT de décâbler et/ou d'interrompre sans délai et sans mise en demeure préalable les services du Client et de résilier immédiatement et de plein droit le contrat, sans préjudice du droit à tous dommages et intérêts auxquels MSCIT- SecurityKeys pourrait prétendre.</p>

<p>Le Client s'engage à régler directement à l'auteur de la réclamation toute somme que celui-ci exigerait de MSCIT- SecurityKeys.</p>

<p>&nbsp;</p>

<p>En outre, le Client s'engage à intervenir sur demande de MSCIT- SecurityKeys à toute instance engagée contre cette dernière ainsi qu'à garantir MSCIT- SecurityKeys de toutes les condamnations qui seraient prononcées contre elle à cette occasion. En conséquence, le Client s'engage à faire son affaire personnelle de toute réclamation et/ou procédure quelle qu'en soit la forme, l'objet ou la nature qui serait formée contre MSCIT et qui se rattacherait aux obligations mises à la charge du Client au titre du présent contrat.</p>

<p>&nbsp;</p>

<p>Le Client s'engage à informer MSCIT- SecurityKeys dans les 48 heures de toute modification concernant sa situation, et dans les 24 heures de toute perte éventuelle des mots de passe.</p>

<p>&nbsp;</p>

<p>Le Client, pour tout contact avec MSCIT- SecurityKeys, s'engage à formuler clairement sa demande, selon les règles d'usage.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>ARTICLE 5 : SUPPORT TECHNIQUE</h3>

<p>MSCIT met à la disposition du Client un support technique :</p>

<p>sur le site web http://www.MSCIT.fr</p>

<p>ou par téléphone aux numéros de téléphone renseignés sur le site http://www.MSCIT.fr.</p>

<p>Niveau 1 - Assistance : MSCIT- SecurityKeys s'engage à informer le Client du déroulement de sa commande. MSCIT- SecurityKeys s'engage à vérifier le bon fonctionnement des caractéristiques du Service. MSCIT- SecurityKeys s'engage à remédier aux dysfonctionnements relevant de sa responsabilité exclusive.</p>

<p>&nbsp;</p>

<p>Niveau 2 - Conseil : MSCIT- SecurityKeys met à la disposition du Client des ressources documentaires. Sous réserve de disponibilités, MSCIT- SecurityKeys s'engage à communiquer au Client la ressource documentaire la plus adaptée à sa problématique. MSCIT- SecurityKeys s'efforcera de mettre à jour régulièrement ses ressources documentaires.</p>

<p>&nbsp;</p>

<p>Niveau 3 - Infogérance : MSCIT- SecurityKeys propose la mise en oeuvre de ses ressources documentaires sur demande spécifiques du Client. Un devis estimatif de l'intervention sera établi et soumis à l'acceptation du Client. MSCIT- SecurityKeys se réserve le droit de refuser une demande d'intervention pour motifs légitimes ou justifiés.</p>

<p>&nbsp;</p>

<h3>ARTICLE 6 : EXECUTION, TARIF et PAIEMENT</h3>

<p>6.1. Création du compte client</p>

<p>Pour toute commande de Service auprès MSCIT- SecurityKeys , le Client doit créer un compte client comprenant ses coordonnées et informations bancaires exactes et mises à jour. Ce compte client est activé par l’envoi par MSCIT- SecurityKeys d’un SMS ou d’un courrier postal adressé selon les coordonnées communiquées dans le compte client.</p>

<p>&nbsp;</p>

<p>6.2 Confirmation de la commande</p>

<p>MSCIT- SecurityKeys accuse réception sans délai au Client, par courrier électronique, du bon de commande et du paiement effectué, et l’informe de la mise en œuvre du Service commandé dans les conditions décrites ci-après.</p>

<p>&nbsp;</p>

<p>6.3 Exécution de la commande</p>

<p>La mise à disposition du service intervient après activation du compte client par MSCIT- SecurityKeys dans les conditions décrites à l’article 6.1 et dans un délai maximal de 7 jours à compter du paiement effectif du bon de commande par le Client.</p>

<p>&nbsp;</p>

<p>Le paiement effectif est réalisé dès lors que les sommes correspondantes au Service sont créditées sur le compte de MSCIT- SecurityKeys.</p>

<p>&nbsp;</p>

<p>Passé ce délai et à défaut de mise à disposition du service par MSCIT- SecurityKeys, le Client est en droit de demander l'annulation de la transaction et le remboursement des sommes déjà versées.</p>

<p>&nbsp;</p>

<p>6.4. Tarif</p>

<p>Les tarifs en vigueur pour les différentes prestations proposées par MSCIT- SecurityKeys sont disponibles en consultation en ligne sur le site http://www.MSCIT.com et sur demande auprès de MSCIT- SecurityKeys.</p>

<p>&nbsp;</p>

<p>Les services ou prestations commandés sont mentionnés dans le bon de commande ; ils s'entendent toutes taxes comprises sauf indication contraire et sont payables en euros.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys se réserve la faculté de modifier ses prix à tout moment, sous réserve d'en informer le Client par courrier électronique ou par un avertissement en ligne sur le site http://www.MSCIT.com un mois à l'avance</p>

<p>si les nouveaux tarifs hors taxes sont moins favorables au Client. Dans cette hypothèse, le Client disposera à compter de cette information d'un délai d'un mois pour résilier le présent contrat sans pénalité. A défaut, le Client sera réputé avoir accepté les nouveaux tarifs. Les modifications de tarifs seront applicables à tous les contrats et notamment à ceux en cours d'exécution.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys se réserve le droit de répercuter, sans délai, toute nouvelle taxe ou toute augmentation de taux des taxes existantes.</p>

<p>&nbsp;</p>

<p>Les prestations fournies par MSCIT- SecurityKeys sont payables à la commande. Le Client est seul responsable du paiement de l'ensemble des sommes dues au titre du contrat de prestations de services MSCIT- SecurityKeys. De convention expresse et sauf report sollicité à temps et accordé par MSCIT- SecurityKeys de manière particulière et écrite, le défaut total ou partiel de paiement à l'échéance de toute somme due au titre du contrat entraînera de plein droit et sans mise en demeure préalable :</p>

<p>&nbsp;</p>

<p>- l'exigibilité immédiate de toutes les sommes restant dues par le Client au titre du contrat, quel que soit le mode de règlement prévu ;</p>

<p>- la suspension de toutes les prestations en cours, quelle que soit leur nature, sans préjudice pour MSCIT- SecurityKeys d'user de la faculté de résiliation du contrat ;</p>

<p>- l'impossibilité de souscrire de nouvelles prestations ou de les renouveler ;</p>

<p>- l'application d'un intérêt à un taux égal à 12% sans que celui-ci ne puisse être inférieur à une fois et demi le taux de l’intérêt légal en vigueur en France.</p>

<p>&nbsp;</p>

<p>Tout désaccord concernant la facturation et la nature des services devront être exprimés par courrier électronique à l'adresse support@MSCIT.fr dans un délai d'un mois après émission du bon de commande.</p>

<p>&nbsp;</p>

<p>Dans l'hypothèse où des frais seraient exposés par MSCIT- SecurityKeys, cette dernière en informera le Client et lui communiquera les justificatifs et la facture correspondant. Le Client devra alors régler la somme due en euros.</p>

<p>&nbsp;</p>

<p>6.5. Paiement</p>

<p>Le paiement s'effectue en ligne par carte bancaire au moment de la conclusion du contrat ou chaque mois en cas d’abonnement.</p>

<p>&nbsp;</p>

<p>Le Client a la possibilité d'effectuer un règlement par chèque à condition qu’il émane d’un établissement bancaire situé sur le Territoire Français (en raison des frais élevés à notre charge), par Mandat Cash, par Mandat Administratif ou par Mandat International.</p>

<p>&nbsp;</p>

<p>Il appartient au Client de choisir le mode de paiement adapté au service commandé et à son délai d'exécution.</p>

<p>&nbsp;</p>

<p>6.6. Durée</p>

<p>Le service a pour durée celle prévue à la commande. Les données seront effacées à l'expiration du service.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys s'engage à effectuer, au minimum, trois rappels par courrier électronique avant l'expiration du service.</p>

<p>&nbsp;</p>

<p>6.7. Renouvellement de service</p>

<p>MSCIT- SecurityKeys notifiera au Client par le biais de courriers électroniques adressés au contact de facturation du Client (adresse e-mail à tenir à jour, sous la responsabilité du Client) avant l’échéance, l'obligation d'acquitter le prix pour le renouvellement du service, lorsque celui-ci est possible.</p>

<p>&nbsp;</p>

<p>Tout défaut de paiement ou paiement irrégulier, c'est à dire, notamment, d'un montant erroné, ou incomplet, ou ne comportant pas les références requises, ou effectué par un moyen ou une procédure non acceptés par MSCIT- SecurityKeys, sera purement et simplement ignoré et provoquera le rejet par MSCIT- SecurityKeys de la demande d'enregistrement ou de renouvellement.</p>

<p>S'agissant d'un renouvellement payé par chèque, il appartient au Client de solliciter le renouvellement avec un délai suffisant de sorte que le chèque soit effectivement reçu par MSCIT avant expiration du service.</p>

<p>Le renouvellement automatique du Service est activé pour l'ensemble des Services souscrits par le Client auprès MSCIT- SecurityKeys, cette fonction peut toutefois être désactivée par le Client par l'intermédiaire de son interface de gestion, au plus tard 15 jours avant l’expiration du Service souscrit.</p>

<p>La souscription de certains services peut également être soumise à l'obligation de souscrire au service d'abonnement.</p>

<p>&nbsp;</p>

<p>Ces deux formules sont exécutées dans les conditions suivantes :</p>

<p>Par dérogation aux dispositions de l’article 6.4, les sommes dues au titre du renouvellement automatique du Service sont prélevées par MSCIT- SecurityKeys cinq (5) jours avant l’expiration du Service souscrit.</p>

<p>&nbsp;</p>

<p>Les sommes dues par le Client au titre du renouvellement automatique sont prélevées automatiquement sur son compte ou sa carte bancaire.</p>

<p>&nbsp;</p>

<p>En l'absence de moyens de paiement enregistrés auprès MSCIT- SecurityKeys pour le paiement du renouvellement du service ou en cas d’échec du paiement, MSCIT- SecurityKeys informera le Client, dans la mesure du possible, du besoin de mettre à jour ou de communiquer ses informations de paiement par courriel et par tout autre moyen qu'elle estime nécessaire dix (10) jours avant l'expiration du service souscrit, à charge pour le Client de communiquer les informations nécessaires au plus tard cinq (5) jours avant la date d’expiration du Service souscrit.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys ne saurait voir sa responsabilité engagée en cas de non renouvellement d'un service suite à un paiement non honoré ou non régularisé par le Client.</p>

<p>&nbsp;</p>

<p>Le système de paiement par carte bancaire électronique qui se caractérise par la génération d'un numéro de carte unique pour chaque transaction bancaire réalisée sur le réseau internet ne peut être utilisé pour effectuer le paiement par renouvellement automatique.</p>

<p>&nbsp;</p>

<p>Le Client est expressément informé et accepte qu’en cas de non respect des dispositions qui précèdent, le service sera immédiatement suspendu à sa date d’expiration et un délai de 48 heures sera accordé au Client pour récupérer les données hébergées sur son service d'hébergement mutualisé ou son serveur dédié. A l'expiration de ce délai, l'ensemble des données sera effacé par MSCIT- SecurityKeys et le service recyclé. MSCIT- SecurityKeys ne conservera aucune donnée au-delà de ce délai. Il appartient en conséquence au Client de procéder à toutes les sauvegardes nécessaires.</p>

<p>&nbsp;</p>

<p>En cas de renouvellement automatique du Service, un nouveau contrat d’une durée identique débute.</p>

<p>&nbsp;</p>

<p>Dans l’hypothèse d’un abonnement, le Service, souscrit pour une durée initiale, est renouvelé par tacite reconduction pour une durée identique.</p>

<h3>ARTICLE 7 : RÉSILIATION, LIMITATION ET SUSPENSION DU SERVICE</h3>

<p>7.1. Le contrat est résilié de plein droit à son échéance. Il peut être renouvelé à partir du site http://www.MSCIT.com, moyennant le versement par le Client du prix correspondant, dans les conditions prévues à l'article 6.</p>

<p>&nbsp;</p>

<p>7.2. Chaque partie peut résilier de plein droit et sans indemnité le contrat en cas de force majeure subsistant plus de trente jours</p>

<p>&nbsp;</p>

<p>7.3. Pour une résiliation avant échéance du contrat, le Client est libre de résilier le contrat par simple envoi postal à l'adresse MSCIT- SecurityKeys –22 rue albert camus 92160 ANTONY ,de la demande qui se trouve à l’adresse suivante :http://www.MSCIT.fr et le Client ne pourra prétendre au remboursement par MSCIT- SecurityKeys des sommes déjà versées.</p>

<p>&nbsp;</p>

<p>7.4. Dans tous les autres cas de manquement par l'une des parties à l'une ou l'autre de ses obligations au titre du contrat non réparé dans un délai de 7 jours à compter soit d'un courrier électronique adressé par la partie plaignante notifiant les manquements en cause, soit de toute autre forme de notification faisant foi adressée par la dite partie, le contrat sera résilié de plein droit, sans préjudice de tous dommages et intérêts éventuels qui pourraient être réclamés à la partie défaillante.</p>

<p>La date de notification de la lettre comportant les manquements en cause sera la date du cachet de la poste, lors de la première présentation de la lettre.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys En cas de nécessité, MSCIT se réserve la possibilité d'interrompre le service pour procéder à une intervention technique, afin d'améliorer son fonctionnement ou pour toute opération de maintenance.</p>

<p>Dans le cadre d'un contrat d'abonnement, le Client peut résilier le contrat à tout moment sous réserve de l'envoi en courrier recommandé avec accusé de réception du formulaire de résiliation édité depuis son interface de gestion, à l'adresse renseignée dans l'article 14.4 des présentes.</p>

<p>&nbsp;</p>

<p>Conformément à l'article L121-84-2 du Code de la consommation, toute demande de résiliation du contrat par le Client sera effective à compter du lendemain de la date de réception par MSCIT, sous réserve que le Client ait précisé l'ensemble des informations requises permettant son identification.</p>

<p>&nbsp;</p>

<p>Le Client pourra par ailleurs demander que cette résiliation prenne effet plus de dix jours après la réception, par MSCIT- SecurityKeys, de sa demande de résiliation.</p>

<p>&nbsp;</p>

<p>Devisfacture.com est un service dédié aux entreprises voulant réaliser rapidement et éficassement des devis et des factures à leurs clients.</p>

<h3>ARTICLE 8 : CONDITIONS D'EXPLOITATION</h3>

<p>Le Client reconnaît par les présentes que les fluctuations de la bande passante et les aléas du fournisseur d'accès sont des éléments pouvant entraîner une discontinuité dans les prestations offertes par la société MSCIT- SecurityKeys, et extérieure à ses moyens techniques.</p>

<p>&nbsp;</p>

<p>Par ailleurs, le service est restreint, limité ou suspendu de plein droit par MSCIT- SecurityKeys:</p>

<p>s'il apparaît que le Client utilise les services qui lui sont fournis pour une activité, quelle qu’elle soit, qui ne serait pas conforme au Contrat de Déontologie sur le site web :</p>

<p>http://www.MSCIT.FR ou aux présentes conditions générales ;</p>

<p>en application des conditions particulières applicables ; si MSCIT- SecurityKeys reçoit un avis à cet effet notifié par une autorité compétente, administrative, arbitrale ou judiciaire, conformément aux lois applicables appropriées, ou par un tiers, et notamment conformément à la loi de Confiance pour l'Economie Numérique du 21 juin 2004 dès lors que le caractère manifestement illicite est porté à la connaissance de MSCIT- SecurityKeys;</p>

<p>&nbsp;</p>

<p>si les coordonnées indiquées dans le compte client apparaissent fausses, inexactes ou non actualisées.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>ARTICLE 9 : INFORMATION DU CLIENT ET CONFORMITE DU SERVICE</p>

<p>Le Client reconnaît avoir vérifié l'adéquation du matériel et du service à ses besoins et avoir reçu de MSCIT- SecurityKeys toutes les informations et conseils qui lui étaient nécessaires pour souscrire au présent engagement en connaissance de cause.</p>

<p>&nbsp;</p>

<p>MSCIT- SecurityKeys se réserve le droit de contrôler le respect des conditions d'utilisation du service.</p>

<h3>ARTICLE 10 : TOLÉRANCE</h3>

<p>Le fait que MSCIT ne se prévale pas à un moment donné de l'une quelconque des présentes conditions générales et/ou tolère un manquement par l'autre partie à l'une quelconque des obligations visées dans les présentes conditions générales ne peut être interprétée comme valant renonciation par MSCIT- SecurityKeys à se prévaloir ultérieurement de l'une quelconque desdites conditions.</p>

<h3>ARTICLE 11 : DONNÉES PERSONNELLES</h3>

<p>MSCIT informe le Client que ses données sont enregistrées, et ont fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Liberté, enregistrée sous le numéro 634232 conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978, à des fins de gestion de la relation Client.</p>

<p>En conséquence, le Client dispose d'un droit d’accès, de modification, de rectification ou de suppression de ses données collectées, en contactant simplement MSCIT- SecurityKeys , à l'adresse MSCIT –22 rue Albert camus 92160 ANTONY.</p>

<p>Les données transmises par le Client sont conservées le temps légal nécessaire à l'administration de la preuve. MSCIT- SecurityKeys s'interdit toute divulgation, toute revente des données nominatives relatives au Client, sous réserve de dispositions contraires dans les conditions particulières. Seules les filiales de MSCIT- SecurityKeys peuvent également y avoir accès.</p>

<h3>ARTICLE 12 : DROIT DE RÉTRACTATION</h3>

<p>Par dérogation à l’article L.121-20-1, 1° du Code Français de la Consommation et pour tout nouveau contrat souscrit, MSCIT accorde au Client un droit de rétractation de 7 (sept) jours francs à compter de la date de fourniture de services, même si l’exécution de la prestation a déjà commencé sur demande du Client et donne droit pour le Client au remboursement par tout moyen de paiement des sommes déjà versées dans les meilleurs délai et au plus tard trente (30) jours après la date à laquelle le Client a exercé son droit de rétractation.</p>

<p>&nbsp;</p>

<p>Ce droit de rétractation s’effectue de préférence par e-mail sur le service support qui se trouve à l’adresse suivante :</p>

<p>http://www.MSCIT.fr , rubrique Facturation ou par téléphone aux numéros de téléphone indiqués sur le site de MSCIT- SecurityKeys, ou par courrier à l'adresse indiquée à l'article 14.4 des présentes. Toute demande de rétractation qui ne respecterait pas le délai légal ou les formalités de l’alinéa précédent ne sera pas prise en considération.</p>

<h3>ARTICLE 13 : MODIFICATION</h3>

<p>Les conditions générales et particulières en ligne prévalent sur les conditions générales et particulières imprimées. Les parties conviennent que MSCIT peut, de plein droit, modifier son service sans autre formalité que d'en informer le Client par un avertissement en ligne et/ou de porter ses modifications dans les conditions générales en ligne. Toute modification ou introduction de nouvelles options d'abonnement fera l'objet d'une information en ligne sur le site localisé à l'adresse URL http://www.MSCIT.fr/ ou l'envoi d'un courrier électronique au Client. Dans cette hypothèse, le Client peut, en dérogation à l'article 7, résilier le contrat dans un délai de trente jours à compter de l'entrée en vigueur de ces modifications.</p>

<h3>ARTICLE 14 : DISPOSITIONS GÉNÉRALES</h3>

<p>14.1 Divisibilité</p>

<p>La nullité d'une des clauses du contrat de prestations de services souscrit auprès de MSCIT- SecurityKeys, en application notamment d'une loi, d'un règlement ou à la suite d'une décision d'une Juridiction compétente passée en force de chose jugée n'entraînera pas la nullité des autres clauses du contrat de prestations de services qui garderont leur plein effet et portée.</p>

<p>Dans ce cas, les parties devront dans la mesure du possible remplacer la disposition annulée par une disposition valable correspondant à l'esprit et à l'objet des Conditions contractuelles.</p>

<p>14.2 Intitulés</p>

<p>Les intitulés des articles des Conditions contractuelles ont pour seul but de faciliter les références et n'ont pas par eux-mêmes, une valeur contractuelle ou une signification particulière.</p>

<p>&nbsp;</p>

<p>14.3 Conditions particulières et Annexes</p>

<p>Les conditions particulières et éventuelles annexes sont incorporées par référence aux Conditions générales de services de MSCIT et sont indissociables desdites Conditions générales. L’ensemble de ces documents est dénommé dans le présent document «Conditions Générales ».</p>

<p>L'ensemble des documents incorporés au présent contrat par référence peut être consulté par le Client aux adresses indiquées sur le site http://www.MSCIT.fr. Ces documents sont en outre sujets à modifications ou évolutions.</p>

<p>&nbsp;</p>

<p>14.4 Communications</p>

<p>Pour tout échange d'informations par courrier électronique, la date et l'heure du serveur d'MSCIT feront foi entre les Parties. Ces informations seront conservées par MSCIT pendant toute la période des relations contractuelles.</p>

<p>Toutes les notifications, communications, mises en demeure prévues par les Conditions générales seront réputées avoir été valablement délivrées si elles sont adressées par lettre recommandée avec demande d'avis de réception à :</p>

<p>MSCIT – 22 rue Albert camus 92160 ANTONY</p>

<p>Pour le Client : à l'adresse postale et/ou e-mail qu’il a fourni à MSCIT- SecurityKeys</p>

<p>14.5 Publicité et promotion</p>

<p>MSCIT- SecurityKeys pourra à l'occasion de publicité, manifestations, dans les colloques et publications spécialisées sur les marchés professionnels, se prévaloir des services fournis au Client ainsi que sur ses documents commerciaux et/ou sa plaquette.</p>

<h3>ARTICLE 15 : ATTRIBUTION DE COMPÉTENCE</h3>

<p>En cas de litige avec un client non considéré comme consommateur au sens du code de la Consommation, compétence expresse est attribuée au Tribunal de Commerce de Roubaix (France), nonobstant pluralité de défendeur ou appel en garantie, y compris pour les mesures d'urgence, conservatoires en référé ou sur requête.</p>

<h3>ARTICLE 16 : LOI APPLICABLE</h3>

<p>Le présent contrat est régi par la loi française. Il est en ainsi pour les règles de fond comme pour les règles de forme, à l'exclusion, d'une part, des règles de conflit prévues par la loi Française, et d'autre part, des dispositions de la loi Française qui seraient contraires au présent Contrat.</p>

                </div>
            </div>
        </div>
    </div>
