<!-- Page title Section CONTACT-->
<div class="page-title">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Contact</h2>
    </div>
</div>
<!-- Contact Section ADRESSE ET PHONE -->
<section class="contact-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-address">
                    <h3 class="title">Contact Security Keys</h3>
                    <ul>
                        <a href="tel: +33 6 27 92 23 93"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; +33 6 27 92 23 93</a></br></br>
                        <a href="mailto: contact@securitykeys.eu"><i class="far fa-envelope" aria-hidden="true"></i> &nbsp; contact@securitykeys.eu</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <h3 class="title">Contact Formulaire</h3>
                    <form name="form" class="form" method="post" action="#" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" name="name" type="text" placeholder="Nom de famille" />
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" name="prenom" type="text" placeholder="Prénom" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" name="email" type="email" placeholder="Email" />
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <input class="form-control" name="pays" type="text" placeholder="Pays" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input name="submit" class="more viewmore-3" type="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>