<div class="page-title">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>FORMATIONS</h2>
    </div>
</div>
<section class="cms-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <h5>Nos interventions font l'objet d'une préparation détaillée.</h5>
                <p>Ainsi, elles correspondent réellement à vos besoins en tenant compte de l'existant et des contraintes propres à votre entreprise et à votre environnement. Nous vous offrons des formations sur-mesure en fonction de vos besoins spécifiques.</p>
                <ul>
                    <li>Formation logiciels Word Excel PowerPoint Access 4D CRM Oracle.</li>
                    <li>Formation Réseaux</li>
                    <li>Formation Systèmes</li>
                    <li>Formation Sécurité Informatique</li>
                </ul>
                <p>Nous faisons des formations intra et inter entreprises merci de nous contacter pour plus d'informations</p>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="about-img">
                    <%= image_tag('photoserv1.jpg') %>
                </div>
            </div>
        </div>
    </div>
</section>