<!-- Page title Section-->
<div class="page-title">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Services</h2>
        </div>
    </div>
</div>
<!-- Middle Information Section -->
<section class="middle-information">
    <div class="container">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="title title-white">
                <h2>Les Security Keys Kits</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/99">ACCESS KIT 99 €</a></h3>
		                <p>Vérification sécurité <br> Installation d'outils de protection <br>1 heure d'initiation à la sécurité informatique</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">PROTECTION KIT 199 €</a></h3>
		                <p>Vérification sécurité <br>Installation d'outils de protection<br>1 heure d'initiation à la sécurité informatique <br>Vérification de votre disque dur</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/299">SECURITY KIT 299 €</a></h3>
                        <p>Vérification sécurité<br>3 heures d'initiation à la sécurité informatique<br>Vérification de votre disque dur<br>Anti-Virus Malware contrôle Parentale</p>
                    </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/399">PREMIUM KIT 399 €</a></h3>
                        <p>Vérification sécurité<br> 3 heures d'initiation à la sécurité informatique<br> Sauvegarde et Vérification de votre disque dur<br> Anti-Virus Malware contrôle Parentale</p>
                    </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">URGENCE KIT 199 €</a></h3>
                        <p>Vérification sécurité & Audit du poste<br> Installation d'outils de protection<br>Supression des Virus</p>
                    </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">SAUVEGARDE KIT 199 €</a></h3>
                        <p>Vérification sécurité<br>Installation d'outils de protection<br>1 heure d'initiation à la sécurité informatique</p>
		            </div>
		        </div>
		    </div> 
        </div>
    </div>
</section>
<!-- Introduction Section COMMANDER UNE PRESTATION -->
<section class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title">
                    <h2>COMMANDER UNE PRESTATION</h2>
                </div>
                <p>POUR UN POSTE DE TRAVAIL. WINDOWS 7, 8, 10. MACINTOSH. IOS ANDROID</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/189">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-search"></i>
                        <h4>Contrat de maintenance sur une machine neuve : 189 € HT</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/89">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-comment-medical"></i>
                        <h4>Prestation d'analyse d'une demande client : 89 € HT</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/189">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-location-arrow"></i>
                        <h4>Suppression des virus et des malwares d'un ordinateur : 189 € HT</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/299">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-hand-paper"></i>
                        <h4>Récupération de vos données suite à un problème de disque dur : 299 € HT</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/299">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-database"></i>
                        <h4>Audits de votre machine pour vérification de sécurité : 299 € HT</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a class="more viewmore-1" href="https://www.paypal.me/securityKeys/299">Commander</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-desktop"></i>
                        <h4>Autres demandes : 299 € de l'heure HT</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end container -->












<!-- Testimonials Section -->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
        	<h2>PROTECTION DES DONNÉES PERSONNELLES : DPO RGPD</h2>
            <p>le nouveau règlement européen rentre en vigueur le 25 mai 2018 : êtes vous conforme ? Obligation de la sécurité, La notion de consentement, Le DPO, La violation des données...</p>
        </div>
    </div>
</section>