<!-- Page title Section-->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Services</h2>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


<!-- Middle Information Section -->
<section class="middle-information">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="title title-white">
                    <h2>Les Security Keys Kits</h2>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">ACCESS KIT 99 €</a></h3>
		                <p>- Vérification sécurité - Installation d'outils de protection - 1 heure d'initiation à la sécurité informatique</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">PROTECTION KIT 199 €</a></h3>
		                <p>- Vérification sécurité - Installation d'outils de protection - 1 heure d'initiation à la sécurité informatique - Vérification de votre disque dur</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">SECURITY KIT 299 €</a></h3>
		                <p>- Vérification sécurité - 3 heures d'initiation à la sécurité informatique - Vérification de votre disque dur - Anti-Virus Malware contrôle Parentale etc</p>
		            </div>
		        </div>
		    </div>
		</div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">PREMIUM KIT 399 €</a></h3>
		                <p>- Vérification sécurité - 3 heures d'initiation à la sécurité informatique - Sauvegarde et Vérification de votre disque dur - Anti-Virus Malware contrôle Parentale etc</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">URGENCE KIT 199 €</a></h3>
		                <p>- Vérification sécurité & Audit du poste - Installation d'outils de protection - Supression des Virus</p>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="service-details.html">SAUVEGARDE KIT 199 €</a></h3>
		                <p>- Vérification sécurité - Installation d'outils de protection - 1 heure d'initiation à la sécurité informatique</p>
		            </div>
		        </div>
		    </div>
            
        </div>
    </div>
</section>
<div class="clearfix"></div>

<!-- Testimonials Section -->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
        	<h2>PROTECTION DES DONNÉES PERSONNELLES : DPO RGPD</h2>
            <p>le nouveau règlement européen rentre en vigueur le 25 mai 2018 : êtes vous conforme ? Obligation de la sécurité, La notion de consentement, Le DPO, La violation des données...</p>
        </div>
        <div class="row">
        	
        </div>



    </div>
</section>


<!-- Partner Logo Section -->
<section class="partner-logo">
    <div class="container">
        <div class="owl-carousel owl-theme partner-logo-slide">
            <div class="item">
                <div class="logo-block"> <img src="images/partner/partner-1.jpg" alt=""> </div>
            </div>
            <div class="item">
                <div class="logo-block"> <img src="images/partner/partner-2.jpg" alt=""> </div>
            </div>
            <div class="item">
                <div class="logo-block"> <img src="images/partner/partner-3.jpg" alt=""> </div>
            </div>
            <div class="item">
                <div class="logo-block"> <img src="images/partner/partner-4.jpg" alt=""> </div>
            </div>
            <div class="item">
                <div class="logo-block"> <img src="images/partner/partner-4.jpg" alt=""> </div>
            </div>
        </div>
    </div>
</section>