<!-- Page title Section-->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Services</h2>
            </div>
        </div>
    </div>
</div>
<!-- Middle Information Section -->
<section class="middle-information">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="title title-white">
                    <h2>Les Security Keys Kits</h2>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/99">ACCESS KIT 99 €</a></h3>
		                <ul>
                            <li>Vérification sécurité</li> 
                            <li>Installation d'outils de protection</li> 
                            <li>1 heure d'initiation à la sécurité informatique</li>
                        </ul>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">PROTECTION KIT 199 €</a></h3>
		                <ul>
                            <li>Vérification sécurité</li> 
                            <li>Installation d'outils de protection</li> 
                            <li>1 heure d'initiation à la sécurité informatique</li> 
                            <li>Vérification de votre disque dur</li> 
                        </ul>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/299">SECURITY KIT 299 €</a></h3>
                        <ul>
    		                <li>Vérification sécurité</li> 
                            <li>3 heures d'initiation à la sécurité informatique</li> 
                            <li>Vérification de votre disque dur</li> 
                            <li>Anti-Virus Malware contrôle Parentale etc</li> 
                        </ul>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/399">PREMIUM KIT 399 €</a></h3>
                        <ul>
    		                <li>Vérification sécurité</li> 
                            <li>3 heures d'initiation à la sécurité informatique</li> 
                            <li>Sauvegarde et Vérification de votre disque dur</li> 
                            <li>Anti-Virus Malware contrôle Parentale etc</li> 
                        </ul>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">URGENCE KIT 199 €</a></h3>
		                <ul>
                            <li>Vérification sécurité & Audit du poste</li> 
                            <li>Installation d'outils de protection</li> 
                            <li>Supression des Virus</li> 
                        </ul>
		            </div>
		        </div>
		    </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
		            <div class="service-content-cat">
		                <h3><a href="https://www.paypal.me/securityKeys/199">SAUVEGARDE KIT 199 €</a></h3>
		                <ul>
                            <li>Vérification sécurité</li> 
                            <li>Installation d'outils de protection</li> 
                            <li>1 heure d'initiation à la sécurité informatique</li> 
                        </ul>
		            </div>
		        </div>
		    </div> 
        </div>
    </div>
</section>
<!-- Testimonials Section -->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
        	<h2>PROTECTION DES DONNÉES PERSONNELLES : DPO RGPD</h2>
            <p>le nouveau règlement européen rentre en vigueur le 25 mai 2018 : êtes vous conforme ? Obligation de la sécurité, La notion de consentement, Le DPO, La violation des données...</p>
        </div>
    </div>
</section>