<!-- Page title Section-->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Support</h2>
            </div>
        </div>
    </div>
</div>

<section class="feature-service">
    <div class="container">
        <div class="title">
            <h2>Sur indication de nos ingénieurs veuillez télécharger certains logiciels et suivez strictement nos indications.</h2>
            <p class="text">Merci de nous contacter pour plus d'informations.</p>
        </div>
		<div class="row">
		    <div class="col">
		        <div class="service-content">
		            <h3><a href="http://www.mscit.fr/prog/TeamViewer_Setup.exe">TeamVeaver</a></h3>
		            <p>Logiciel de prise de contrôle a distance de votre ordinateur.</p>
		        </div>
		    </div>
		    <div class="col">
		        <div class="service-content">
		            <h3><a href="http://www.mscit.fr/prog/VNC-Server-6.2.1-Windows.exe">UltraVNC</a></h3>
		            <p>Logiciel de prise de contrôle Open Source.</p>
		        </div>
		    </div>
		</div>
	</div>
</section>