<!-- Footer Section -->
<footer>
    <!-- Top Footer Section -->
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-block footer-contact"> 
                        <img src="images/theme-logo-white.png" width="250" alt="">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><span><a href="tel: +33 6 27 92 23 93">+33 6 27 92 23 93</a></span></li>
                            <li><i class="fa fa-envelope"></i><span><a href="mailto: contact@securitykeys.eu">contact@securitykeys.eu</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-block blog-link">
                        <h4>Derniers articles</h4>
                        <ul>
                            <li><a href="#">Internet c'est dangereux, avec SecurityKeys.eu c'est mieux et c'est plus sûre.</a> <span><i class="far fa-calendar-alt"></i></i> June 16, 2017</span></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Section -->
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="bottom-footer-left">
                        <p>© 2019 Security Keys | All Rights Reserved. | Mentions légales</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="bottom-footer-right">
                        <div class="social-link">
                            <ul>
                                <li><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Google +" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Pinterest" target="_blank"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>